@media (max-width: 700px) {
body{
    text-align: center;
}
// *{
//     border: 2px solid red;
// }
.nav-btn{
    display: none;
}
.hamburger_menu{
    display: flex;
}
.hamburger{
    display: flex;
    flex-direction: column;  img{
        width: 50px;
        height: 40px;
    }
}
.nav-container .nav-list{
    display: none;
}
.nav-container .nav-list ul {
    display: none;
}
.utilizes-containter{
    flex-direction: column;
}
.solution-container .upward {
    flex-direction: column;
}
.solution-container .upward .arrow-solution .solution-text {
    flex-direction: column;
}
.solution-container .downward .groups{
    flex-direction: grid;
    grid-auto-flow: column;
    grid-auto-columns: 21.33%;
    gap: 1rem;
    scroll-behavior: smooth;
    overflow-x: auto;
    justify-content: start;
}
.right-scroll{
    position: relative;
    bottom: -230px;
    z-index: 1;
    left: 210px;
    opacity: 0.4;
    // border: 2px solid red;
}
.left-scroll{
    position: relative;
    bottom: -230px;
    z-index: 1;
    left: -210px;
    opacity: 0.4;
    // border: 2px solid red;
}
.export-team-cont .left-export .our-mission{
    flex-direction: column;
    gap: 30px;
}
.container-box .boxes-cont{
    grid-template-columns: auto;
}.our-mentors-cont .mentor-profile{
    flex-direction: column;
}
.brand-cont{
    flex-direction: column;
    gap: 30px;
}
.export-team-cont .left-export h3{
    width: auto;
}
.business-route .email-container input{
    width: auto;
}
.business-route .email-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.business-route .email-container button{
    position: relative;
    left: 0;
}
.business-route p{
    line-height: 40px;
}
.business-route h2{
    line-height: 60px;
}
.copyright{
    flex-direction: column;
    gap: 20px;
}
.our-mentors-cont .next-mentors{
    align-items: center;
    justify-content: center;
}
.export-team-cont .right-export img {
    width: auto;
    height: auto;
}
.utilizes-containter .utility-btn img {
    position: relative;
    right:-35px;
}
.container-box .boxes-cont .boxes{
    width: auto;
    height: auto;
}
.copyright p{
    font-size: 10px;
}
.nav-container{
    flex-direction: row;
    gap: 20px;
    padding: 40px 10px;
    justify-content: space-between;
}
.nav-btn button {
    display: none;
    padding: 14px 55px;
}
.solution-container .upward .arrow-solution h2{
    font-size: 28px;
}
.our-clients .clients-down{
    flex-direction: column;
}
.our-clients .clients-down .right-clients{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.utilizes-containter .right h2{
    font-size: 38px;
    text-align: center;
    line-height: 50px;
}
.solution-container .downward .next-arrow{
    justify-content: center;
    align-items: center;
}
.solution-container .downward .groups img{
    width: auto;
    height: auto;
}
.export-team-cont{
    flex-direction: column;
    text-align: center;
}
.utilizes-containter .right p{
    text-align: center;
}
.utilizes-containter .right{
    align-items: center;
}
.our-mentors-cont h2{
    text-align: center;
}
.our-clients h3{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}
.our-clients .clients-down .left-clients{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.brand-cont .subcribe-newsletter .email-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.brand-cont .brand-cons {
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}
.nav-container .brand-cons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-container .brand-cons .brand-text h2{
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.nav-container .brand-cons .brand-text p{
    font-size: 12px;
}
.nav-container .brand-cons .nav-arrow-const {
    background: #69FAB4;
    border-radius: 100%;
    width: 45px;
    height: 45px;
}
}